a{
    color: black;
}

*{
    text-align: center;
}

h2{
    background-color: rgb(255, 242, 244);
    font-size: xx-large;
}

#myprojects{
    font-size: xx-large;
    font-weight: 900;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

li{
    text-align: center;
}

li img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: bold;
}

li a{
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li a:hover{
    color: pink;
}
