a{
    color: black;
}

*{
    text-align: center;
}

h2{
    background-color: rgb(255, 242, 244);
    font-size: xx-large;
}

#myprojects{
    font-size: xx-large;
    font-weight: 900;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

ul{
    gap: 20px;
    list-style: none;
    padding: 0;
    display: flex;
}

li{
    
    flex: 0 0 auto;
    font-size: small;
}

.box{
    text-align: center;
}

.box img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid pink;
    margin: o auto 5px;
}

.box a{
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.box a:hover{
    color: pink;
}
